<main class="app">
  <app-header></app-header>

  <section class="app__section">
    <div class="app__buttons">
      <button mat-raised-button color="primary" (click)="toggleAddBook()">
        Add Book
      </button>
      <button mat-raised-button color="secondary" (click)="addRandom()">
        Add Random
      </button>
    </div>

    <div *ngIf="isAddBookVisible" class="app__add-book">
      <app-add-book (onDismiss)="toggleAddBook()"></app-add-book>
    </div>

    <app-books></app-books>
  </section>
</main>
