.book {
  margin-top: 10px;
  margin-bottom: 10px;

  &-isbn {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 13px;
  }

  .mat-form-field {
    margin-right: 10px;
  }

  &__edit-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
