<mat-card class="book">
  <!-- <div class="book__badges">
    <button class="book__badges__badge">
      <p>Edit</p>
    </button>
    <button class="book__badges__badge">
      <p>Delete</p>
    </button>
  </div>

  <div class="book__head">

    <div class="book__head__item">
      <p class="book__head__item-heading">ISBN</p>
      <p class="book__head__item-text">
        {{ bookData.isbn }}
      </p>
    </div>
    <div class="book__head__item">
      <p class="book__head__item-heading">Name</p>
      <p class="book__head__item-text">
        {{ bookData.name }}
      </p>
    </div>
    <div class="book__head__item">
      <p class="book__head__item-heading">Authors</p>
      <p class="book__head__item-text">
        {{  }}
      </p>
    </div>
  </div>

  <div class="book__body">
    <p class="book__body-annotation">{{  }}</p>
  </div> -->

  <mat-card-title>[{{ bookData.id }}] {{ bookData.name }}</mat-card-title>
  <mat-card-subtitle>{{ bookData.authors }}</mat-card-subtitle>
  <mat-card-content>
    <p>{{ bookData.annotation }}</p>
  </mat-card-content>
  <mat-card-actions align="end">
    <button mat-button>Edit</button>
    <button mat-button>Delete</button>
  </mat-card-actions>
</mat-card>

<br />
