.book {
  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 400px;

    &__item {
      display: flex;
      flex-direction: column;
      &-heading {
        margin-bottom: 0px;
        font-size: 14px;
      }

      &-text {
      }
    }
  }

  &__body {
    margin-top: 5px;
    &-annotation {
      font-style: italic;
    }
  }

  &-isbn {
    margin-right: auto;
    margin-left: 10px;
    margin-top: 10px;
    padding: 0px;
    margin-bottom: 0px;
    font-size: 13px;
  }
}
